{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img alt="bébé gif" class="embed-responsive-item"
                 src="https://media1.tenor.com/images/2938adcd940d5ef81013c08718db07a1/tenor.gif?itemid=12263463">
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Page non trouvée</h1>
            <p>Veuillez vérifier l'adresse ou
            <a class="colored " href="{{ path("sortie_list") }}">revenir à l'accueil</a></p>
        </div>
    </div>
{% endblock %}