{% extends 'base.html.twig' %}

{% block main %}
    <h1>Une erreur s'est produite</h1>

    <p>Une erreur est survenue.</p>
    <a href="{{ path('sortie_list') }}">Retourner à l'accueil</a>.
{% endblock %}