{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block main %}
    <div class="container bubble mt-3">
        <div class="container">
            <h2 class="bubble-title">Modification de ton Profil</h2>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

            <button type="submit"class="btn btn-outline-dark" >Enregistrer les modifications !</button>
            {{ form_end(form) }}
        <button type=""  style="" class="btn-outline-dark" onclick="window.history.go(-1)" >Retour</button>
    </div>
{% endblock %}

