{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button type="submit" class="btn btn-primary">{{ "Enregistrer" |trans }}</button>
    {{ form_start(registerForm) }}
{% endblock %}

{% block title %}Inscription{% endblock %}

